apps/b2b-p21-sys-api/src/main/mule/b2b-p21-sys-api-spec.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	<flow name="b2b-p21-sys-api-spec-main">
		<http:listener
			config-ref="b2b-p21-sys-api-spec-httpListenerConfig
			path="${http.path.listener}" doc:name="b2b-p21-sys-api-spec-main">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="b2b-p21-sys-api-spec-config"
			doc:id="f0d21315-0b63-491d-b287-6382c580375b" />
		<error-handler ref="global-error-handler" />
	</flow>
	<flow name="get:\healthCheck:b2b-p21-sys-api-spec-config">
		<flow-ref
			doc:name="Flow Reference to get-healthcheck-subflow"
			doc:id="af585899-4c15-435e-af36-4f4d98498e46"
			name="get-healthcheck-subflow" />
	</flow>
	<flow name="get:\views:b2b-p21-sys-api-spec-config">
		<flow-ref
			doc:name="Flow Reference to get-p21-view-processing-subflow"
			doc:id="732a4cb4-ccdf-4bf4-841a-1747538b47ad"
			name="get-p21-view-processing-subflow" />
	</flow>
	<flow
		name="post:\transactions:application\json:b2b-p21-sys-api-spec-config">
		<choice doc:name="Choice"
			doc:id="5cae3d8b-6388-41df-8cd8-c7dce07e811b">
			<when
				expression='#[attributes.queryParams.processingMode == "direct"]'>
				<flow-ref
					doc:name="Flow Reference to post-p21-entity-processing-subflow"
					doc:id="2e6fe0dc-f88d-4e4b-aee0-4bfe2b6ce294"
					name="post-p21-entity-processing-subflow" />
			</when>
			<otherwise>
				<flow-ref
					doc:name="Flow Reference to post-p21-transaction-processing-subflow"
					doc:id="67a6a553-8d52-484d-adcb-26fc66df83ac"
					name="post-p21-transaction-processing-subflow" />
			</otherwise>
		</choice>
	</flow>
	<flow
		name="post:\transactions\custom:application\xml:b2b-p21-sys-api-spec-config">
		<flow-ref doc:name="Flow Reference to post-p21-transaction-xml-processing-subflow" doc:id="9f6008ae-5d49-439d-b624-7dad5394a314" name="post-p21-transaction-xml-processing-subflow" />
	</flow>
</mule>
