apps/b2b-p21-sys-api/src/main/mule/b2b-p21-sys-api-spec.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="b2b-p21-sys-api-spec-main">
        <http:listener config-ref="b2b-p21-sys-api-spec-httpListenerConfig" path="${http.path.listener}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="b2b-p21-sys-api-spec-config" />
        <error-handler ref="global-error-handler" />
    </flow>
    <flow name="get:\healthCheck:b2b-p21-sys-api-spec-config">
        <flow-ref doc:name="Flow Reference" doc:id="af585899-4c15-435e-af36-4f4d98498e46" name="b2b-p21-healthcheck-subflow" />
    </flow>
    <flow name="get:\views:b2b-p21-sys-api-spec-config">
        <flow-ref doc:name="Flow Reference" doc:id="732a4cb4-ccdf-4bf4-841a-1747538b47ad" name="b2b-p21-views-subflow" />
    </flow>
    <flow name="post:\transactions:application\json:b2b-p21-sys-api-spec-config">
        <flow-ref doc:name="Flow Reference" doc:id="314b6e9c-3f05-4b43-b835-afd0d9c75588" name="b2b-p21-transaction-processing-subflow" />
    </flow>
</mule>
