apps/b2b-process-api/src/main/mule/b2b-process-api-spec.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<flow name="b2b-process-api-spec-main" doc:id="61ca2ba4-6c49-4bb9-8cd1-ad6bd561f615">
        <http:listener path="${https.basePath}" doc:name="b2b-process-api-spec-main" config-ref="HTTP_Listener_Configuration">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="var : integration, initialPayload" doc:id="f7c8a630-5842-43d9-bb3e-0ce2e274d0f4">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="integration"><![CDATA[%dw 2.0
output application/json
---
{
	"source" : "APM" ,
	"target" : "P21",
	"integration-type" : "Inbound " ++ attributes.queryParams."type" ++ " " ++ payload[0]."b2bMessage"."header"."documentType" default payload,
	"correlationId": correlationId,
	"timestamp": now() as String {
		format: "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
	},
	"transmissionId" : payload[0].b2bMessage.header.transmissionId default ""
}]]></ee:set-variable>
                <ee:set-variable variableName="initialPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <apikit:router config-ref="b2b-process-api-spec-config"/>
        <error-handler ref="global-common-error-handler" />
    </flow>
    <flow name="get:\healthCheck:b2b-process-api-spec-config">
        <ee:transform doc:name="Prepare healthCheck Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  application: app.name,
  status: "success",
  timestamp: now() as String {
		format: "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
	},
  environment: Mule::p("mule.env"),
 }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\inboundTransactions:application\json:b2b-process-api-spec-config" doc:id="e445073a-6ac5-4ba8-acea-c05aec807d6a">
        <flow-ref doc:name="Flow Reference To Inbound Transaction Processing Sub Flow" doc:id="885af747-f4ce-47cd-bc6f-ea61768d6175" name="#[&quot;inbound-&quot; ++ attributes.queryParams.&quot;type&quot; ++ &quot;-processing-subflow&quot;]" />
    </flow>
     <flow name="post:\coupainboundTransactions:application\xml:b2b-process-api-spec-config" doc:id="9f7fbd0f-8145-4965-b56b-3dd9a0ec6062">
        <ee:transform doc:name="Transform Message" doc:id="7b7aa26b-3fa6-4fbb-985b-86648e592f16" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="integration" ><![CDATA[%dw 2.0
output application/json
---
{
	"source" : "COUPA" ,
	"target" : "P21",
	"integration-type" : "Inbound " ++ " Coupa Purchase Order " default payload,
	"correlationId": correlationId,
	"timestamp": now() as String {
		format: "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference To Coupa Inbound Transaction Processing Sub Flow" doc:id="b63e5733-d383-4cb9-a8f2-bda5ac0f894a" name="inbound-coupa-po-processing-subflow" />
    </flow>
    <flow name="post:\p21\invoices\adhoc:application\json:b2b-process-api-spec-config" doc:id="996146fc-e607-4d90-894f-6d3b224ec887">
        <flow-ref doc:name="Flow Reference To P21 Adhoc Invoice Sub Flow" doc:id="fa69f29b-30b0-40c7-8456-96b2211a7b4b" name="p21-adhoc-invoice-post" />
    </flow>
    <flow name="post:\p21\watermark:application\json:b2b-process-api-spec-config" doc:id="04591fc2-b49a-437b-8a28-b9792f417792">
        <flow-ref doc:name="Flow Reference To P21 Coupa Invoice WM Sync Sub Flow" doc:id="30e5642f-be37-4ed8-8709-c3a7d988d140" name="p21-coupa-invoice-processing-scheduler-flow" />
    </flow>
    <flow name="purchase-order-outbound-scheduled-flow" doc:id="5d8c397a-8f2c-487b-9509-915b30e2b826" maxConcurrency="1">
        <scheduler doc:name="EVERY 3 HOURS" doc:id="5322bca0-6141-4f0e-a75b-287efbd3b292">
            <scheduling-strategy>
                <cron expression="${scheduler.outbound.purchaseOrder.frequency}" timeZone="${scheduler.outbound.purchaseOrder.timeZone}" />
            </scheduling-strategy>
        </scheduler>
		<ee:transform doc:name="var: initialVariables" doc:id="68989e9f-8bfe-4bf0-8a42-8017f3824f32">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="initialVariables"><![CDATA[%dw 2.0
output application/json
---
{
	"source": "P21",
	"target": "APM",
	"integration-type": "Outbound-850",
	correlationId: correlationId default uuid(),
	timestamp: now() as String {
		format: "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
	},
	status: "STARTED"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="LOG INFO : START" doc:id="91ec1caa-66f7-4294-8cf8-7cb72d3aa291" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA; event: &quot;START&quot;,&#xA; flow: flow.name,&#xA; application: app.name,&#xA; environment: Mule::p(&quot;mule.env&quot;),&#xA; timestamp: now(),&#xA; correlationId: vars.initialVariables.correlationId,&#xA; sourceSystem: &quot;P21&quot;,&#xA; targetSystem: &quot;APM - Anypoint Partner Manager&quot;&#xA;}]" />
        <flow-ref doc:name="Flow Reference To purchase-order-processing-subflow" doc:id="305f024e-419d-45fc-9aa2-c6204fe82f06" name="purchase-order-processing-subflow" />
        <logger level="INFO" doc:name="LOG INFO : END" doc:id="6ee0af0c-950d-4e7b-a2ca-c9dbdf2926ab" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA; event: &quot;END&quot;,&#xA; flow: flow.name,&#xA; application: app.name,&#xA; environment: Mule::p(&quot;mule.env&quot;),&#xA; timestamp: now(),&#xA; correlationId: correlationId,&#xA; sourceSystem: &quot;P21&quot;,&#xA; targetSystem: &quot;APM - Anypoint Partner Manager&quot;&#xA;}]" />
        <error-handler ref="global-common-error-handler" />
    </flow>
    <flow name="b2b-alert-notification-apm-flow" doc:id="150e108b-c71a-4397-8bfb-25faf78f9fb0">
        <scheduler doc:name="EVERY 3 HOURS" doc:id="84722158-e1cc-446a-88d8-928188b6be87">
            <scheduling-strategy>
                <cron expression="${scheduler.alertNotification.frequency}" timeZone="${scheduler.alertNotification.timeZone}" />
            </scheduling-strategy>
        </scheduler>
        <ee:transform doc:name="var: initialVariables" doc:id="7e4fe777-4fbb-4083-831b-50deef3f20bd">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="initialvariables"><![CDATA[%dw 2.0
output application/json
---
{
  correlationId: correlationId default uuid(),
  timestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"},
  source: "scheduler",
  status: "STARTED"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="LOG INFO : START" doc:id="012ca2d6-040c-419b-a54c-28bcbacb44b7" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA; event: &quot;START&quot;,&#xA; flow: flow.name,&#xA; application: app.name,&#xA; environment: Mule::p(&quot;mule.env&quot;),&#xA; timestamp: now(),&#xA; correlationId: vars.initialVariables.correlationId,&#xA; sourceSystem: &quot;APM - Anypoint Partner Manager&quot;,&#xA; targetSystem: &quot;Email&quot;,&#xA;  message: &quot;B2B Alert Notification process started. Checking for recent errors in APM.&quot;&#xA;}]" />
        <flow-ref doc:name="Flow Reference To b2b-alert-notification-main-subflow" doc:id="c7f85bb3-a757-4e9e-a701-e6b1bc5cfa38" name="b2b-alert-notification-main-subflow" />
        <logger level="INFO" doc:name="LOG INFO : END" doc:id="00053657-e525-43b6-a7a2-8975ae96d6eb" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA; event: &quot;END&quot;,&#xA; flow: flow.name,&#xA; application: app.name,&#xA; environment: Mule::p(&quot;mule.env&quot;),&#xA; timestamp: now(),&#xA; correlationId: vars.initialVariables.correlationId,&#xA; sourceSystem: &quot;APM - Anypoint Partner Manager&quot;,&#xA; targetSystem: &quot;Email&quot;,&#xA; message: &quot;B2B Alert Notification process completed successfully.&quot;&#xA;}]" />
        <error-handler ref="global-common-error-handler" />
    </flow>
<!-- [STUDIO:"b2b-process-api-cxml-flow"]<flow name="b2b-process-api-cxml-flow" doc:id="8831e8f3-8e30-44d8-a311-c1cbc2d80555" >
		<http:listener doc:name="b2b-process-api-spec-main" doc:id="6431b1e9-0ad2-4127-ac9a-312415a3068d" config-ref="HTTP_Listener_Configuration" path="/coupainboundTransactions/cxml" >
			<http:response statusCode="#[vars.httpStatus default 200&#93;" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}&#93;&#93;&#93;></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500&#93;" >
				<http:body ><![CDATA[#[payload&#93;&#93;&#93;></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}&#93;&#93;&#93;></http:headers>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="var : integration, initialPayload" doc:id="74f57a07-c2c5-4137-a88a-db65fbabe010" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="initialPayload" ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="Common HTTP Request" doc:id="b59575c2-5675-432b-8684-b3eacf6c61bc" config-ref="partnerManager" responseTimeout="#[Mule::p('b2b-p21-sys-api.timeout')&#93;" path="/api/test/XML-cxml-orderrequest">
			<http:headers><![CDATA[#[{"Content-Type": "application/xml"}&#93;&#93;&#93;></http:headers>
		</http:request>
		<ee:transform doc:name="Read CXML as XML" doc:id="01b537c9-66bf-48a1-8361-592a47140147" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/xml
&#45;&#45;-
read(payload, 'application/xml')&#93;&#93;></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="initialVariables" ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
	"source": "P21",
	"target": "APM",
	"integration-type": "Outbound-810",
	correlationId: correlationId default uuid(),
	timestamp: now(),
	status: "STARTED"
}&#93;&#93;></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="LOG INFO : START" doc:id="bc4c39bb-4a7a-40c9-a4b2-c9a655f17868" message='#[%dw 2.0&#10;output application/json&#10;&#45;&#45;-&#10;{&#10; event: "START",&#10; flow: flow.name,&#10; application: app.name,&#10; environment: Mule::p("mule.env"),&#10; timestamp: now(),&#10; correlationId: vars.initialVariables.correlationId,&#10; sourceSystem: "P21",&#10; targetSystem: "APM - Anypoint Partner Manager"&#10;}&#93;' />
		<flow-ref doc:name="Flow Reference To outbound-poAck-processing-subflow" doc:id="234c0477-eac1-41f3-89ac-659d35113b13" name="outbound-invoice-processing-subflow" />
		<logger level="INFO" doc:name="LOG INFO : END" doc:id="ce6f1ad5-30ee-4e4e-b877-f6786d87d3ea" message='#[%dw 2.0&#10;output application/json&#10;&#45;&#45;-&#10;{&#10; event: "END",&#10; flow: flow.name,&#10; application: app.name,&#10; environment: Mule::p("mule.env"),&#10; timestamp: now(),&#10; correlationId: correlationId,&#10; sourceSystem: "P21",&#10; targetSystem: "APM - Anypoint Partner Manager"&#10;}&#93;' />
	</flow> [STUDIO] -->
	<flow name="shipment-outbound-scheduled-flow" doc:id="a73526f3-22ef-4be8-bb6a-b13c75e82454" maxConcurrency="1" >
		<scheduler doc:name="EVERY 3 HOURS" doc:id="d4e29f4a-0d3b-4a7f-9bc3-7997d68496ac" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" startDelay="1" timeUnit="HOURS" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="var: initialVariables" doc:id="9f91056e-77d4-47aa-9a33-cee4ae839557" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="initialVariables" ><![CDATA[%dw 2.0
output application/json
---
{
	"source": "P21",
	"target": "APM",
	"integration-type": "Outbound-856",
	correlationId: correlationId default uuid(),
	timestamp: now(),
	status: "STARTED"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="LOG INFO : START" doc:id="0b7e3d52-0980-49ec-973f-4d25a0f7a4e4" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10; event: "START",&#10; flow: flow.name,&#10; application: app.name,&#10; environment: Mule::p("mule.env"),&#10; timestamp: now(),&#10; correlationId: vars.initialVariables.correlationId,&#10; sourceSystem: "P21",&#10; targetSystem: "APM - Anypoint Partner Manager"&#10;}]' />
		<flow-ref doc:name="Flow Reference To outbound-shipment-processing-subflow" doc:id="3c5eba7e-e8e0-40e5-aac9-ffae5ec2e541" name="outbound-shipment-processing-subflow" />
		<logger level="INFO" doc:name="LOG INFO : END" doc:id="349d2194-54f1-4bc9-83f6-0d655646605d" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10; event: "END",&#10; flow: flow.name,&#10; application: app.name,&#10; environment: Mule::p("mule.env"),&#10; timestamp: now(),&#10; correlationId: correlationId,&#10; sourceSystem: "P21",&#10; targetSystem: "APM - Anypoint Partner Manager"&#10;}]' />
	</flow> 
</mule>