apps/b2b-process-api/src/main/mule/implementation/vendor/coupa-invoice-processing-old.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="p21-invoice-watermark-sync" doc:id="9a0e060e-38ad-4ed3-a682-442c5a4c69b7">

    <!-- [STUDIO:"Scheduler"]<scheduler doc:name="Scheduler">
			<scheduling-strategy >
				<fixed-frequency frequency="12" timeUnit="HOURS" />
			</scheduling-strategy>
		</scheduler> [STUDIO] -->

    <!-- 1. Get Watermark -->
		<os:retrieve doc:name="Retrieve Last Successful Watermark" doc:id="148b1216-6d53-48e0-a705-ab3e11a4d1d8" key="p21-invoice-watermark" target="watermark" objectStore="Object_store">
			<os:default-value ><![CDATA[#[%dw 2.0
output application/json
---
(now() - |PT1H|) >> 'America/New_York' as String {format: 'yyyy-MM-dd\'T\'HH:mm:ss.SXX'}]]]></os:default-value>
		</os:retrieve>
		<set-variable value="#[now()]" doc:name="Current Run Time" doc:id="79f9f378-8dde-4947-ae55-a6dda422fb0f" variableName="currentRunDateTime"/>
		<logger level="INFO" message="Starting P21 Invoice Sync - Watermark: #[vars.watermark]" />

    <!-- 2. Publish first batch to VM -->
		<vm:publish queueName="p21.invoice.fetch" config-ref="VM_Config" sendCorrelationId="ALWAYS" correlationId="#[correlationId]">
        <vm:content ><![CDATA[#[output application/json
---
{
    watermark: vars.watermark,
    skip: 0,
    top: 100,
    currentRunDateTime: vars.currentRunDateTime
}]]]></vm:content>
			
    </vm:publish>


</flow>
<flow name="p21-invoice-batch-processor">
    <vm:listener queueName="p21.invoice.fetch" config-ref="VM_Config" />

    <try>
			<set-variable value="#[payload]" doc:name="VM Payload" doc:id="234b39a2-cc00-4af4-adec-66e5c83ae948" variableName="vmPayload"/>
			<logger level="INFO" doc:name="Logger" doc:id="c5110f34-1fce-4f3b-a947-bc3993c7c751" message="VM Payload - #[vars.vmPayload]" />
			<flow-ref name="process-p21-invoice-batch" doc:name="process-p21-invoice-batch"/>
			<error-handler>
            <on-error-continue>
                <logger level="ERROR" message="Error processing batch skip=#[vars.vmPayload.skip]: #[error.description]" />
                <!-- Optional: DLQ -->
            </on-error-continue>
        </error-handler>
    </try>
</flow>
<sub-flow name="process-p21-invoice-batch">
    <ee:transform doc:name="var : httpOperation - get invoices" doc:id="3c6275f3-e697-4b9e-b0b8-325aa3bd2273">
			<ee:message />
			<ee:variables>
				<ee:set-variable resource="dwl/coupa-inbound-invoice-processing-subflow/v_httpOperationGetInvoice.dwl" variableName="httpOperation" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference To commom-http-request-subflow" doc:id="9d6851df-95ab-4c02-a6ea-3ed4c5cd931e" name="common-http-request-subflow" target="p21Response" />
		<logger level="INFO" message="Fetched #[sizeOf(vars.p21Response.value)] records, skip=#[vars.skip]" />

    <!-- Transform -->
    <choice doc:name="Choice" doc:id="6fbae4fa-9cba-4787-908b-5648be52837f">
			<when expression="#[sizeOf(vars.p21Response.value) &gt; 0]">
				<parallel-foreach doc:name="Parallel For Each" doc:id="a1689c95-1598-46a1-a227-04ec1cb8ff71" collection="#[vars.p21Response.value]">
					<ee:transform doc:name="To EDI Format" doc:id="51786b2c-059b-497d-bce4-e5dc38d7d31d">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dwl/coupa-inbound-invoice-processing-subflow/v_httpOperationPostCoupaInvoice.dwl" variableName="httpOperation" />
			</ee:variables>
		</ee:transform>
					<flow-ref doc:name="Flow Reference To commom-http-request-subflow" doc:id="0d1e3063-a16b-4e91-92a0-ac7955da0dd0" name="common-http-request-subflow" />
		</parallel-foreach>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="No Records got updated" doc:id="a9e54a09-9f6a-4023-9108-f281cfb132ae" message="No Records got updated in P21 post Last Run. Last Watermark values is #[vars.vmPayload.watermark]" />
			</otherwise>
		</choice>

    <!-- Send to EDI Partner -->

    <!-- Check for more records -->
    <choice>
        <when expression="#[sizeOf(vars.p21Response.value) == 100]">
            <vm:publish queueName="p21.invoice.fetch" config-ref="VM_Config" correlationId="#[correlationId]" sendCorrelationId="ALWAYS">
                <vm:content ><![CDATA[#[output application/json
---
{
    watermark: vars.vmPayload.watermark,
    skip: vars.vmPayload.skip + 100,
    top: vars.vmPayload.top,
    currentRunDateTime: vars.vmPayload.currentRunDateTime
}]]]></vm:content>
            </vm:publish>
        </when>
        <otherwise>
            <!-- Update Watermark to latest date_last_modified -->
            <os:store doc:name="Store" doc:id="16602361-6fb5-4b0b-b519-a3da5c18850c" key="p21-invoice-watermark" objectStore="Object_store">
					<os:value ><![CDATA[#[vars.p21Response.value[-1].date_last_modified]]]></os:value>
				</os:store>
				<logger level="INFO" message="Watermark updated to #[vars.p21Response.value[-1].date_last_modified]" doc:name="Process Completed"/>
        
</otherwise>
    </choice>
</sub-flow>
</mule>
