apps/ecom-e/src/main/mule/implementation.xml
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:db="http://www.mulesoft.org/schema/mule/db" 
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
		<flow name="p21SystemAPICallFlow" doc:id="db9b6970-8b85-484e-a2d7-150b8a9cf7a8" >
		<logger level="INFO" doc:name="Before Req Logger" doc:id="3e0b382b-fcde-442c-9202-cdae098b1fc6" message='#["Before P21 System API for resource : " ++ (vars.resourcePath default "")]'/>
		<try doc:name="Try" doc:id="0989fc7b-4605-402b-9084-de4e450bcf8e" >
			<http:request method="#[vars.httpMethod]" doc:name="P21 System API Call" doc:id="f9a5615f-718f-498d-9efd-06e6ae5bbd8d" config-ref="callReq_configuration" path="#[vars.resourcePath]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ (vars.authToken default ""),
	"Accept" : "application/json"
}]]]></http:headers>
				<http:query-params ><![CDATA[#[{
	"correlationId": correlationId,
	"itemId": attributes.queryParams.itemId
}]]]></http:query-params>
			
</http:request>
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="7f91c745-761c-4770-8d1c-4066ced131bc" variableName="P21SystemAPIResponse"/>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ecfe33c2-418b-47a3-8a83-b2ffdf718fd9" type="ANY">
					<ee:transform doc:name="Error Data" doc:id="d129eac2-954d-44e9-94dc-d707ea85b3d1" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="errorResponse" ><![CDATA[%dw 2.0
output application/json
---
"errorDetails":{
  "applicationName": app.name,
  "errorCode": error.exception.errorMessage.payload.errorDetails.errorCode default (if(error.errorType.identifier == 'CONNECTIVITY') p('errorCodes.connectivity') else p('errorCodes.other')),
  "errorType": error.exception.errorMessage.payload.errorDetails.errorType default error.errorType.namespace default 'NONE' ++ ':' ++ error.errorType.identifier default 'NONE',
  "errorMessage": error.exception.errorMessage.payload.errorDetails.errorMessage default error.description
}]]></ee:set-variable>
							<ee:set-variable variableName="httpStatus" ><![CDATA[error.exception.errorMessage.attributes.statusCode]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="After Req Logger" doc:id="b9bfeb59-d37a-42e2-86a5-606507fb33b4" message='#["After p21 System API Request call - " ++ (vars.resourcePath default "")]' />
		<logger level="INFO" doc:name="Response Logger" doc:id="88896d19-e89a-4d75-82d6-4128941a1fd8" message='#["Update Service Order Complete Response"]'/>
		<error-handler ref="global-error-handlingError_Handler" />
	</flow>
</mule>